
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Inconsolata", sans-serif;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  html {
    scrollbar-width: none;
  }
  

  /* Body */
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8ECE4;
    margin: 0;
    width:100vw;
    -ms-overflow-style: none;
    overflow-x: hidden;
  }
  
  
  .NameContainer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width:100vw;
    height: 100vh;
  }
  
  .name {
    text-align: left;
    max-width: 500px;
    margin-left: 100px;
    
  }
  
  .name h1 {
    font-size: 45px;
    font-weight: 900;
    padding: 10px;
  }
  
  .name h2 {
    font-size: 35px;
    font-weight: 800;
    color: rgb(37, 37, 37);
    padding: 10px;
  }
  
  .name p {
    color: rgb(36, 36, 36);
    padding: 10px;
  }
  
  /* ImageHero (Right-Aligned) */
  .imageHero img {
    width: 27rem;
    max-width: 100%;
  }
 
  
  /* About Section */
  .about {
    display: flex;
    flex-direction: row; /* Side-by-side layout */
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;
    border-top: 5px solid black;
    width:100vw;
    height: 100vh;
  }

  
  /* Profile Picture */
  .profilePic img {
    margin-left: 100px;
    height: 50%;
    width: 50%;
  }
  
  /* Profile Text */
  .profile {
    max-width: 400px;
    text-align: left;
    margin-right: 100px;
    
  }
  
  .profile h1 {
    font-size: 45px;
    font-weight: 900;
    padding: 10px;
  }
  
  .profile p {
    letter-spacing: 2px;
    padding: 10px;
  }
 

  .skills{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100vw;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;
    border-top: 5px solid black;
  }
  .skills h1{
    font-size: 45px;
    font-weight: 900;
    padding: 10px;
  }
  .skills-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 20px; 
    padding: 10px; 
  }

  .skill-card{
    justify-content: left;
    text-align: left;
    max-width: 220px;
    img{
        width: 50px;
        height: 50px;
    }
    h1{
        font-size: 20px;
        font-weight: 900;
    }
    p{
        margin-left: 10px;
        font-size: 15px;
        font-family: "Inconsolata";
    }
  }
  .projects{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: auto;
    width:100vw;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;
    border-top: 5px solid black;
    h1{
        color:#F8ECE4;
        font-size: 45px;
        font-weight: 900;
        padding: 10px;
    }
  }
  .Games{
    h1{
        color:#af9f94;
        font-size: 35px;
        font-weight: 900;
        padding-top: 50px;
        margin-bottom: 10px;

    }
  }
  .game-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto); 
    justify-content: space-evenly;
    gap: 50px;
    margin-left: 125px;
  }

  .game-card{
    justify-content: left;
    align-content: center;
    text-align: left;
    max-width: 400px;
    transition: transform 0.3s;
    border-radius: 20px;
    img{
        width: 400px;
        height: 225px;
        border-radius: 20px;
    }
    a{
        color: whitesmoke;
        font-size: 20px;
        font-weight: 900;
        padding: 10px;
        text-decoration: none;
    }
    p{
        color: #af9f94;
        margin-left: 10px;
        font-size: 15px;
        font-family: "Inconsolata";
        max-width: 300px;
    }
  }
  .game-card:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 5px rgba(194, 194, 194, 0.1);
}
  .Environment{
    h1{
        color:#af9f94;
        font-size: 35px;
        font-weight: 900;
        padding: 10px;
    }
  }
  .env-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(1, auto); 
    
  }

  .env-card{
    justify-content: space-evenly;
    text-align: left;
    max-width: 400px;
    padding: 10px;
    border-radius: 20px;
    transition: transform 0.3s;
    img{
        width: 400px;
        height: 225px;
        border-radius: 20px;
    }
    a{
        color: whitesmoke;
        font-size: 20px;
        font-weight: 900;
        padding: 10px;
        text-decoration: none;
    }
    p{
        color: #af9f94;
        margin-left: 10px;
        font-size: 15px;
        font-family: "Inconsolata";
        max-width: 300px;
    }
  }
  .env-card:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 5px rgba(194, 194, 194, 0.1);
}
  .other{
    h1{
        color:#af9f94;
        font-size: 35px;
        font-weight: 900;
        padding-bottom: 50px;
    }
  }
  .other-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 50px;
    margin-left: 150px;
    
  }

  .other-card{
    justify-content: space-evenly;
    text-align: left;
    max-width: 400px;
    h1{
        color: whitesmoke;
        font-size: 20px;
        font-weight: 900;
        padding: 10px;
    }
    p{
        color: #af9f94;
        margin-left: 10px;
        font-size: 15px;
        font-family: "Inconsolata";
        max-width: 200px;
    }
  }
  .contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 350px;
    width:100vw;

  }
  .cont_img{
    width: 27rem;
    max-width: 100%;
  }
  .contact-holder{
    text-align: left;
    margin-left: 100px;
    justify-content: space-between;

  }
  .contact-card{
    border: 2px solid black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow effect */
    margin-bottom: 15px;
    height: 50px;
    width: 500px;
    align-content: center;
    transition: transform 0.3s;
    a,p{
        margin-left: 20px;
        text-decoration: none;
        color: black;
    }
  }
  .contact-card:hover {
    transform: translateY(-10px);
    box-shadow: 2px 2px 10px rgba(194, 194, 194, 0.2);
}
@media (max-width: 500px) {
    .name{
      margin-left: 30px;
    }
    .imageHero img {
        display: none;
    }

    .profile {
        text-align: center;
        max-width: 100%;
        margin-right: 0px;
        height: auto;
    }
    .profilePic img {
        margin-left: 80px;

      }
      .about{
        height: auto;
      }
      .skills{
        height: auto;
      }

    .skills-grid{
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, auto); 

      }

    .game-grid{
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: repeat(4, auto); 
        margin-left: 10px;
      }
      .game-card{

        max-width: 300px;
        img{
            width: 300px;
            height: 170px;
        }
      }
      .env-card{
        max-width: 300px;

        img{
            width: 300px;
            height: 170px;

        }
      }
    .env-grid{
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: repeat(3, auto); 
        
      }

    .other-grid{
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: repeat(4, auto); 
        margin-left: 10px;
      }

    .contact-holder{
      margin-top: 20px;
        text-align: left;
        margin-left: 20px;
        justify-content: space-between;
    
      }
      .contact-card{
        width: 400px;
      }
      .cont_img{
        display: none;
      }
}
  